.roller {
  display: none;
  max-width: 320px;
  width: 100%;
  position: fixed;
  top: -100;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.roller__container {
  width: 100%;
  height: 230px;
  background-color: #1a1b22;
  animation: slide-from-top 0.2s ease-in;
  padding: 0 16px 24px 16px;
}

.roller__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.roller__logo {
  font-family: "Roboto Slab";
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.roller__close-btn {
  height: 24px;
  width: 24px;
  background-image: url(../../assets/close-btn.svg);
  background-repeat: no-repeat;
  background-position: top;
  border: none;
}

.roller__links {
  display: flex;
  flex-direction: column;
}

.roller__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.roller__link-pill-btn {
  width: 288px;
  height: 56px;
  border-radius: 100px;
  border: solid 1px #fff;
  margin: auto 0;
  background-color: rgba(26, 27, 34, 1);
  color: #fff;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 540px) {
  .roller {
    display: flex;
  }

  .roller__close-btn {
    background-color: transparent;
    padding: 15px;
    background-size: 30px;
  }
}
