* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/inter-400-regular.woff2") format("woff2"),
    url("../../fonts/inter-400-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-400-regular.woff2") format("woff2"),
    url("../../fonts/roboto-400-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/roboto-slab-400-regular.woff2") format("woff2"),
    url("../../fonts/roboto-slab-400-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.app {
  /* display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  font-family: "Roboto";
}

@media screen and (max-width: 768px) {
  .app {
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .app {
    width: fit-content;
    margin: 0 auto;
  }
}
