.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 608px;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  background-color: #fff;
  backdrop-filter: blur(8px);
  margin: 0 auto;
}

.search-form:hover {
  color: #1a1822;
}

.search-form__input {
  width: 100%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #b6bcbf;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  padding-left: 24px;
}

.search-form__input:focus {
  outline: none;
  box-shadow: none;
  color: #1a1822;
}

.search-form__btn {
  position: absolute;
  right: 0;
  max-width: 168px;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  background-color: #2f71e5;
  backdrop-filter: blur(15px);
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.search-form__btn:hover {
  background-color: #347eff;
}

.search-form__btn:active {
  background-color: #2a65cc;
}

.search-form__btn_mobile {
  display: none;
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 100px;
  margin-top: 16px;
  background-color: #2f71e5;
  backdrop-filter: blur(15px);
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.search-form__btn_mobile:hover {
  background-color: #347eff;
}

.search-form__btn_mobile:active {
  background-color: #2a65cc;
}

@media (max-width: 768px) {
  .search-form {
    max-width: 448px;
    width: 100%;
    height: 56px;
  }

  .search-form__input {
    font-size: 16px;
  }

  .search-form__btn {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 540px) {
  .search-form {
    max-width: 288px;
    width: 100%;
  }

  .search-form__btn {
    display: none;
  }

  .search-form__btn_mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
